body {
    background-color:peachpuff;
    font-family:'Times New Roman', Times, serif;
}

h1 {
    color: black;
    text-align: center;
}

h3 {
    text-align: center;
}

ul {
    text-align: center;
    list-style-type: none;
}

a {
    color: black;
    text-decoration: underline;
    font-size: 24px;
}

p {
    text-align: center;
}

.container {
    text-align: center;
}
.ingredients {
    text-align: left;
    list-style-type: disc;
    display: inline-block;
}


ol {
    text-align: left;
    display: inline-block;
}

img {
    border-color: black;
    border: 5px solid;
}